.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  border-right: 0.5px solid #efefef;
}

.nav {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding-left: 10%;
}

.nav ul li {
  position: relative;
}

a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
  padding: 1em;
}

.logo {
  width: 100%;
}
