* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}

.icons {
  display: flex;
  flex-direction:row;
  justify-content: center;
  gap: 1rem;
}

.header {
  text-align: center;
  margin-top:10px
}

p {
text-align: center;
color: gray;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #98c22a;
}


button {
  color: green;
  background-color: #98c22a;
}

@media (max-width: 768px) {
  .yachtMargin {
    margin-top: 54px;
  }

.card,
.carde {
    font-size: medium;
    font-weight: bolder;
  }

.carousel-inner > .item {
  position: relative;
  max-height: 600px;
}

/*   
  .carousel-inner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  } */


  .yachtimg {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2.5rem;
    margin-left: 7rem;
    border-radius: 4rem;
  }

  .caption {
    position: absolute;
    right: 33%;
    bottom: -2.75rem;
    left: 24%;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    color: #fff;
    text-align: center;
    background-color: rgb(220 220 223);
    margin-bottom: 4rem;
  }

  
  .app {
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
    color: #f9fafb;
  }

  .app :hover {
    background: white;
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
  }

  .btn:hover {
    background: #f9fafb;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }

  .reserve {
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
    color: #f9fafb;
  }

  .reserve :hover {
    background: white;
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
  }

  
  .main {
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
    color: #f9fafb;
  }
}

@media (min-width: 768px) {
  .yachtMargin {
    /* margin-left: 2rem;
    margin-right:2rem; */
    margin-left: 232px;
  }

  .maincaro {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }


  .yachtimg {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2rem;
    margin-left: 17rem;
    border-radius: 20rem;
  }

  .main {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .card {
    font-size: medium;
    font-weight: bolder;
  }

  .btn {
    border-radius: 1rem;
    /* margin-bottom: 1.5rem; */
    font-size: larger;
  }

  .btn :hover {
    background: #f9fafb;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }

  .reserve {
    width: 40%;
    font-family: sans-serif;
    background: #98c22a;
    border: #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }

  .reserve :hover {
    background: rgb(106, 199, 242);
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
  }

  .caption {
    position: absolute;
    right: 33%;
    bottom: -2.75rem;
    left: 24%;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    color: #fff;
    text-align: center;
    background-color: rgb(220 220 223);
    margin-bottom: 6rem;
  }

  .carde {
    font-size: medium;
    font-weight: bolder;
    color: #077ff7;
    font-style: italic;
  }

  .carousel-inner {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
