* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: white; */
}

.wheel {
  width: 20%;
  margin: 2rem;
}

.cardbutton {
  margin-top: 10rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header {
  text-align: center;
  margin-top: 10px;
}

p {
  text-align: center;
  color: gray;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #98c22a;
}

.reserve {
  width: 40%;
  font-family: sans-serif;
  background: #98c22a;
  border: #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2em;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

button {
  color: green;
  background-color: #98c22a;
}

@media (max-width: 768px) {
  .yachtMargin {
    margin-top: 54px;
  }

  .wheel {
    display: none;
  }

  .showtimg {
    max-width: 80%;
    margin-top: 4rem;
    margin-left: 1rem;
    align-items: center;
    border-radius: 3rem;
  }

  .e-card {
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 5rem;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }

  .cardbutton {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .card,
  .carde {
    font-size: medium;
    font-weight: bolder;
  }

  .carousel-inner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }

  .yachtimg {
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2.5rem;
    margin-left: 5rem;
    border-radius: 4rem;
  }

  .caption {
    position: absolute;
    right: 33%;
    bottom: -2.75rem;
    left: 24%;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    color: #fff;
    text-align: center;
    margin-bottom: 15rem;
  }

  .app {
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
    color: #f9fafb;
  }

  .app :hover {
    background: white;
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
  }

  .btn:hover {
    background: #f9fafb;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }

  .reserve :hover {
    background: white;
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
  }

  .informations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    margin: 3rem;
  }

  .resInfos {
    align-content: center;
    align-items: center;
    margin-left: 2rem;
  }

  .main {
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
    color: #f9fafb;
  }
}

@media (min-width: 768px) {
  .yachtMargin {
    margin-left: 232px;
  }

  .e-card-horizontal {
    margin-left: 12rem;
  }

  .informations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .carousel-inner > .item {
    position: relative;
    max-height: 600px;
  }

  .e-card-stacked {
    margin-top: 8rem;
    margin-left: 7rem;
  }

  .e-card {
    margin-top: 1rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: bold;
  }

  .yachtimg {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2rem;
    margin-left: 20rem;
    border-radius: 20rem;
  }

  .main {
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }

  .card {
    font-size: medium;
    font-weight: bolder;
  }

  .btn {
    border-radius: 1rem;
    font-size: larger;
  }

  .btn :hover {
    background: #f9fafb;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }

  .reserve :hover {
    background: rgb(106, 199, 242);
    text-decoration: none;
    font-size: smaller;
    font-size: medium;
    font-weight: bolder;
  }

  .caption {
    position: absolute;
    right: 33%;
    left: 24%;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    color: #fff;
    text-align: center;
  }

  .showtimg {
    height: 80%;
    margin-top: 6rem;
    margin-left: 1rem;
    border-radius: 3rem;
  }

  .carde {
    font-size: medium;
    font-weight: bolder;
    font-style: italic;
  }
}
